name: Deploy to Github Pages

on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix: 
        node-version: [14.x]
    steps:
      - uses: actions/checkout@v2

      - name: Cache node modules
        uses: actions/cache@v2
        with:
          path: "**/node_modules"
          key: ${{runner.os}}-modules-${{ hasFiles('**/yarn.lock' )}}

      - name: Install
        run:  yarn install

      - name: Build
        run: |
          yarn export
          touch out/.nojekyll
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_PAGES_TOKEN}}
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4
        with:
          BRANCH: gh-pages
          FOLDER: out
          CLEAN: true